.CreditCard {
  margin: 10px;
  padding: 20px;
  width: 340px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.3), 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
    0.6rem 0.6rem rgba(0, 0, 0, 0.1),
    0 0.6rem 1rem 0.4rem rgba(153, 153, 153, 0.8);
  .logo {
    text-align: right;
    img {
      height: 21px;
    }
  }
  .expire {
    margin: 0;
    text-align: left;
  }
  span {
    margin-left: 20px;
  }
  .owner {
    text-align: left;
  }
  .creditNum {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
  }
}
